.message {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.message.user {
  margin-left: auto;
}

.message.content {
  display: flex;
  align-items: center;
  padding: 10px;
  color: hsl(var(--foreground));
}

.message.user {
  background-color: hsl(var(--accent));
}
.message.header {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .message.content {
    padding: 10px;
  }
}
