:root {
  --navbar-height: 4rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  position: relative;
  background-color: hsl(var(--background));
}

/* Add this new class */
.content-container {
  padding-top: 64px;
}
